
<md-card style="box-shadow: none">
    <img src="img/search2.jpg" class="md-card-image" title="src: Google search" style="height: 300px;width: 600px;align-self: center;" alt="Washed Out">
    <md-card-content>
        <br/>
        <md-input-container md-no-float>
            <input ng-model="searchText" type="text" placeholder="Enter text.." style="width: 1000px;align-self: center;">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="search(searchText)" style="margin-left: 660px;">Search</md-button>
    </md-card-content>
</md-card>
